@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&display=swap");

/* * { */
/*   box-sizing: border-box; */
/* } */

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Martel Sans", sans-serif;
  color: #fff;
  background-color: black;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

.border {
  border-bottom: 0.5em solid #222;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}

.header {
  /* margin: 1em; */
  position: absolute;
  width: 100%;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  z-index: 5;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em auto;
}

#logo {
  fill: #e50914;
}

.tenflix-logo {
  height: 1.75rem;
  padding-top: 0.5em;
}

.signin-btn {
  background-color: #e50914;
  color: #fff;
  padding: 0.1em 0.5em;
  font-size: 1rem;
  border-radius: 0.25em;
  text-decoration: none;
}

.hero {
  position: relative;
  height: 75vh;
  min-height: 500px;
  background-image: url("./assets/movie-pic.jpg");
  background-size: cover;
  background-position: center;
}

.image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 1;
}

.hero-container {
  position: absolute;
  /* box-sizing: border-box; */
  /* display: flex; */
  /* flex-flow: column; */
  width: 100%;
  height: 100%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /* padding: 1em 0; */
  z-index: 3;
}

.hero__text {
  /* flex-grow: 1; */
  display: flex;
  text-align: center;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  margin-top: 2em;
  /* margin: 0 auto; */
  /* max-width: 640px; */
  /* padding: 2rem 2rem; */
}

.hero__text--title,
.section__text--title {
  /* max-width: 640px; */
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 0.6em;
  line-height: 1.2;
}

.hero__text--subtitle,
.section__text--subtitle {
  /* max-width: 450px; */
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 1em;
  font-weight: normal;
  line-height: 1.5;
}

.form-title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  padding: 0 2em;
}

.try-form {
  text-align: center;
}

.email-input {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  margin: 1em 0 2em 0;
}

.try-btn {
  text-transform: uppercase;
  background-color: #e50914;
  color: #fff;
  padding: 0.4em 1em;
  font-size: 1rem;
  border-radius: 0.25em;
  text-decoration: none;
}

.section {
}

.section__text {
  text-align: center;
}

.section__content {
  margin: 2em auto 0 auto;
  max-width: 600px;
}

.section__content--image {
  width: 100%;
}

.section2 .section__content,
.section3 .section__content {
  position: relative;
}

.section__content--animation {
  bottom: 15%;
  position: absolute;
  width: 100%;
}

#faq-list {
  list-style: none;
  padding: 0;
  margin: 1.5em 0 2em 0;
}

.faq-list-item {
  margin-bottom: 0.5em;
}

.faq-question {
  display: block;
  background: #303030;
  padding: 1em 1em;
  margin-bottom: 0.15em;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.faq-question:focus {
  outline: 0;
}

.faq-answer {
  background: #303030;
  padding: 1em;
}

.faq-answer.closed {
  display: none;
}

.faq-answer p {
  font-size: 1rem;
}

.svg-icon {
  fill: #fff;
  height: 1em;
  width: 1em;
  float: right;
  /* transform: rotate(-45deg); */
}

.svg-icon.closed {
  transform: rotate(-45deg);
}

.section-animation-container {
  position: relative;
}

.section-animation-image {
  position: relative;
  width: 100%;
  z-index: 10;
}

.section-animation {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
}

.section-animation-2 {
  bottom: 15%;
  z-index: 20;
}

.section__content--video {
  top: 8%;
  width: 63%;
  position: absolute;
  left: 18%;
  z-index: -1;
}

.animation-box {
  margin: 0 auto;
  width: 70%;
  border: 0.2em solid #222;
  border-radius: 0.75em;
  background: black;
  display: flex;
  padding: 0.1em 0.5em;
}

.animation-poster {
  height: 3.5em;
  margin-right: 1em;
}

.animation-text {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-content: center;
  margin: auto;
  line-height: 1.5em;
}

.text0 {
  font-size: 0.9em;
}

.text1 {
  font-size: 0.7em;
  color: #0071eb;
}

.download-gif {
  height: 3em;
  margin: auto;
}

.footer {
  color: #757575;
}

.footer__text {
  margin: 0;
  padding-left: 1em;
}

.footer-container {
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.footer-link-item {
  display: inline-block;
  width: 43%;
  padding-left: 1em;
  list-style: none;
  text-align: left;
}

.footer-link-item + .footer-link-item {
  margin-top: 0.7em;
}

.footer-link-item a {
  text-decoration: none;
  color: #757575;
  font-size: 0.8rem;
}

@media (min-width: 550px) {
  .hero__text--title,
  .section__text--title {
    font-size: 2.5rem;
    margin-bottom: 0.3em;
  }

  .hero__text--subtitle,
  .section__text--subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  .animation-box {
    font-size: 1.125rem;
  }
}

@media (min-width: 950px) {
  .tenflix-logo {
    height: 2.5rem;
  }

  .signin-btn {
    font-size: 1.125rem;
  }

  .hero {
    height: 90vh;
  }

  /* .try-form { */
  /*   margin-bottom: 3em; */
  /* } */

  .form-title {
    font-size: 1.125rem;
  }

  .form-content {
    display: flex;
    margin: 1em auto;
    max-width: 700px;
  }

  .email-input {
    font-size: 1rem;
    margin: 0;
    width: 60%;
    flex-grow: 1;
  }

  .try-btn {
    font-size: 1.5rem;
    border-radius: 0;
  }

  /* .hero__text { */
  /*   margin-top: 4em; */
  /* } */

  .hero__text--title {
    max-width: 640px;
    font-size: 3.125rem;
    margin-bottom: 0.3em;
  }

  .section__text--title {
    max-width: 640px;
    font-size: 2.5rem;
    margin-bottom: 0.3em;
  }

  .hero__text--subtitle,
  .section__text--subtitle {
    max-width: 640px;
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  .container {
    max-width: 1050px;
  }

  .section1,
  .section2,
  .section3 {
    display: flex;
    justify-content: space-between;
  }

  .container:not(.section4) .section__text {
    width: 45%;
    margin: auto 0;
    text-align: left;
  }

  .container:not(.section4) .section__content {
    width: 45%;
    text-align: left;
  }

  .section2 {
    flex-flow: row-reverse;
  }

  .section2 .section__content {
    margin: 2em 4em 0 0;
  }

  .animation-box {
    font-size: 1.4rem;
  }

  /* .footer.container, */
  /* .section4.container { */
  /*   max-width: 815px; */
  /* } */

  /* .section2 .section__content { */
  /*   margin: 2em 4em 0 0; */
  /* } */

  .section4 .section__text {
    margin: 2em 0 3em 0;
  }

  .section4 .section__content {
    max-width: 700px;
  }

  #faq-list {
    margin-bottom: 5em;
  }

  .faq-question,
  .faq-answer p {
    font-size: 1.5rem;
  }

  .section4 .try-form {
    margin-bottom: 2em;
  }

  .footer {
    max-width: 700px;
  }

  .footer-link-item {
    width: 20%;
  }
}
