@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;900&display=swap');

/* * { */
/*   box-sizing: border-box; */
/* } */

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Martel Sans', sans-serif;
  color: #fff;
  background-color: black;
}

p, h1, h2 {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
}

.header {
  /* margin: 0; */
  /* padding: 1em 1em 0 1em; */
  z-index: 1;
}

#logo {
  fill: #e50914;
}

.tenflix-logo {
  height: 1.75rem;
  padding-top: .5em;
}

.signin-btn {
  background-color: #e50914;
  color: #fff;
  padding: 0.1em 0.5em;
  font-size: 1rem;
  float: right;
  border-radius: .25em;
  margin-top: .5em;
  text-decoration: none;
}

.hero {
  position: relative;
  height: 75vh;
  min-height: 500px;
  background-image: url('./assets/movie-pic.jpg');
  background-size: cover;
  background-position: center;
  border-bottom: .5em solid #222;
}

.image-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.55) 0%,rgba(0,0,0,0.9) 100%); 
}

.hero-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 1em 0;
}

.hero__text {
  flex-grow: 1;
  display: flex;
  text-align: center;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  /* margin: 0 auto; */
  /* max-width: 640px; */
  /* padding: 2rem 2rem; */
  z-index: 1;
}

.hero__text--title, .section__text--title {
  max-width: 640px;
  /* max-width: 640px; */
  margin: 0 auto;
  font-size: 1.5rem;
  margin-bottom: 0.6em;
  line-height: 1.2;
}

.hero__text--subtitle, .section__text--subtitle {
  max-width: 640px;
  /* max-width: 450px; */
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 1em;
  font-weight: normal;
  line-height: 1.5;
}

.form-title {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
  padding: 0 2em;
}

.try-form {
  text-align: center;
}

.email-input {
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  margin: 1em 0 2em 0;
}

.try-btn {
  text-transform: uppercase;
  background-color: #e50914;
  color: #fff;
  padding: 0.4em 1em;
  font-size: 1rem;
  border-radius: .25em;
  text-decoration: none;
}

.section {
  border-bottom: .5em solid #222;
}

.section__text {
  text-align: center;
}

.section__content {
  margin-top: 2em;
}

#faq-list {
  list-style: none;
  padding: 0;
  margin: 1.5em 0 2em 0;
}

.faq-list-item {
  margin-bottom: 0.5em;
}

.faq-question {
  display: block;
  background: #303030;
  padding: 1em 1em;
  margin-bottom: 0.15em;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
}

.faq-question:focus {
  outline: 0;
}

.faq-answer {
  background: #303030;
  padding: 1em;
}

.faq-answer.closed {
  display: none;
}

.faq-answer p {
  font-size: 1rem;
}

.svg-icon {
  fill: #fff;
  height: 1em;
  width: 1em;
  float: right;
  transform: rotate(-45deg);
}

.section-animation-container {
  position: relative;
}

.section-animation-image {
  position: relative;
  width: 100%;
  z-index: 10;
}

.section-animation {
  position: absolute;
  left: 0;
  z-index: 0;
  width: 100%;
}

.section-animation-2 {
  bottom: 15%;
  z-index: 20;
}

.animation-box {
  margin: 0 auto;
  width: 70%;
  border: .2em solid #222;
  border-radius: 0.75em;
  background: black;
  display: flex;
  padding: 0.1em 0.5em;
}

.animation-poster {
  height: 3em;
  margin-right: 1em;
}

.animation-text {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  align-content: center;
}

.text0 {
  font-size: 0.9em;
}

.text1 {
  font-size: 0.7em;
  color: #0071eb;
}

.download-gif {
  height: 3em;
}

.footer {
  color: #757575;
}

.footer__text p {
  margin: 0;
  padding-left: 1em;
}

.footer-container {
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.footer-link-item {
  display: inline-block;
  width: 43%;
  padding-left: 1em;
  list-style: none;
  text-align: left;
}

.footer-link-item + .footer-link-item {
  margin-top: 0.7em;
}

.footer-link {
  text-decoration: none;
  color: #757575;
  font-size: .8rem;
}

@media (min-width: 550px) {
  .hero__text--title, .section__text--title {
    font-size: 2.5rem;
    margin-bottom: 0.3em;
  }

  .hero__text--subtitle, .section__text--subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }
}

@media (min-width: 950px) {
  .tenflix-logo {
    height: 2.5rem;
    padding-top: .5em;
  }

  .signin-btn {
    font-size: 1.125rem;
  }

  .hero {
    height: 90vh;
  }

  .email-input {
    font-size: 1.25rem;
    display: inline;
  }

  .try-form {
    margin-bottom: 3em;
  }

  .form-content {
    display: flex;
    margin: 2em auto;
  }
  
  .form-title {
    font-size: 1.125rem;
  }

  .email-input {
    margin: 0;
    width: 60%;
    flex-grow: 1;
  }

  .try-btn {
    font-size: 1.625rem;
    border-radius: 0;
  }

  .hero__text--title{
    font-size: 3.125rem;
    margin-bottom: 0.3em;
  }

  .section__text--title {
    font-size: 2.5rem;
    margin-bottom: 0.3em;
  }

  .hero__text--subtitle, .section__text--subtitle {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
  }

  .container {
    max-width: 1050px;
  }

  .section:not(.section4) .container {
    display: flex;
    justify-content: space-between;
  }

  .section2 .container {
    flex-flow: row-reverse;
  }

  .section:not(.section4) .section__content {
    width: 45%;
    text-align: left;
  }

  .section:not(.section4) .section__text {
    width: 45%;
    margin: auto 0;
    text-align: left;
  }

  #faq-list {
    margin-bottom: 5em;
  }

  .footer .container,
  .section4 .container,
  .form-content {
    max-width: 815px;
  } 

  .section4 .section__text {
    margin: 2em 0 3em 0;
  }

  .faq-question, .faq-answer p {
    font-size: 1.5rem;
  }

  .footer-link-item {
    width: 20%;
  }

}
